body{
  overflow-x: hidden;
}
.Auth-container {
  background-image: url(./assets/images/auth-bg.png);
  background-size: cover;
}


.overlay {
  background: linear-gradient(
    45deg,
    rgba(47, 140, 96, 0.4),
    rgba(0, 0, 0, 0.4)
  );
}

.sidebar-container{
  height: 100%;
 
}



.sidebar-container .ps-sidebar-container {
  border-top-right-radius: 58px;
  background-color: #1f263e;
  color: #fff;
  
  
}

.sidebar-container .ps-sidebar-root{
  height: 100%;
}



.sidebar-container .ps-sidebar-container .ps-menu-button:hover {
  background-color: rgba(0, 176, 77, 0.2);
}
.header-cont {
  background-image: url(./assets//images/headerbg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container {
  background-color: #f0ffef;
}

.imagemodify {
  width: 60px;
}
.bg-photo{
  background-image: url(./assets/images/notFound.png);
  background-size: cover;
  background-position: bottom bottom;
}